.site-header {
//    min-height: $header_min_height;
    background-color: $header_bg_color;
	> .wrap {
      @include make-row;
	}
}

.title-area {
    @include make-md-column($header_title_col);
	//float: left;
    z-index: 0;     // below toggle button
}

.navbar-toggle { z-index: 10;} //above title-area so it's clickable.

//if no header sidebar, make title-area full width
.title-area:only-child {
  @include make-md-column($grid-columns);
}

//If navbar is header, title area should not have defined width
.navbar-header .title-area {
  width: auto;
}
.site-title,
.site-description {
  margin: 0;
  line-height: 1;

  .header-image & {
    @include text-hide;
    //@extend %image-replacement; - replaced by bootstrap mixin

    & > a {
      background: url(../../images/logo.png) no-repeat left;
      min-height: $header_image_min_height;
      width: 100%;
      display:inline-block;
      overflow: hidden;
    }

  }

}

.header-image .site-title > a {

}

.header-image .navbar-header .site-title > a {
  background: none;
  min-height: 0;
}

.site-title {
  font-size: $header_title_font_size;
  color: $header_title_font_color;
  line-height: 1.2;

  a {
    &:hover,
    &:focus,
    &:active {
      color: $header_site-title_hover_color;
    }
  }
}

.site-title {
  font-size: $header_title_font_size;
  color: $header_title_font_color;
  margin-bottom: 0;
}


.header-widget-area {
     @include make-md-column($header_widget_col);
	//float: right;

	.widget {
	}
}
