
nav {
  @include make-row;
}

nav.navbar-fixed-top, nav.navbar-fixed-bottom {
  margin-left: 0;
  margin-right: 0;
}
body.admin-bar.fixed-top nav.navbar-fixed-top{
  top: 32px;
}
// if nav-brand image height is > 50px, when collapsed, menu items need line-height
// back to normal.  Had to override inline styles with !important.
@media (max-width: $grid-float-breakpoint - 1) {
  .navbar-nav li a, .navbar-form {
    line-height: $line-height-computed !important;
  }
}


.genesis-nav-menu {
	@extend %clearfix;
	width: 100%;

	// Applied to all menu <li>s
	.menu-item {
		a {
			position: relative;
			display: block;
		}
	}

	// First level
	> .menu-item {
		position: relative;
		display: inline-block;
		text-align: left;

		&:hover,
		&:focus,
		&:active,
		&.sfHover {
			> .sub-menu {
				left: auto;
				opacity: 1;
			}
		}

		&.current-menu-item {
			> a {
			}
		}

		> a {
		}
	}

	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 99;
		opacity: 0;
		transition: opacity .4s ease-in-out;

		> .menu-item {
			> a {
				position: relative;
			}
		}

		.sub-menu {
		}
	}
}
